        <footer id="footer" class="lyt-footer ">
        <div class="footer-section container ">
        <article>
            <h5> Contact </h5>
            <p class="address">
    <i class="fas fa-home mrg-5p"></i> www.bulxbox.com <br />
    <i class="fas fa-envelope mrg-5p"></i> contactus@bulxbox.com <br />
</p>
        </article>

        </div>
        <div class="copy-right">
        <div class="container">
                            <small>
                                &copy; 2022 Bulxbox
                            </small>
                        </div>

        </div>
        </footer>
