<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8" />
    </head>
    <body class="wrapper">
        <header class="lyt-header">
            <nav id="nav">Not Renderd Navigation</nav>
        </header>
        <main class="lyt-main" id="main-content">
            <h1>HELLO THERE!</h1>
        </main>
        <footer class="lyt-footer" id="footer">Not Renderd Footer</footer>
    </body>
</html>
