* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    font-size: 100%;
    box-sizing: border-box;
}
*,
::after,
::before {
    box-sizing: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
main,
nav,
section {
    display: block;
}

/* make images and embedded media fluid */
img,
object {
    max-width: 100%;
}

/* Removes display styles */
ol,
ul {
    list-style: none;
}
img {
    border-style: none;
}
a {
    text-decoration: none;
    //  color: transparent;
}
